<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
           defaultHref="/tabs/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Actualización de perfil</ion-title>
    <ion-icon name="create-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Imagen de perfil del usuario -->
  <div class="profile-pic">
    <ion-avatar>
      <ion-img src="assets/user-avatar.jpg" alt="Foto de Perfil"></ion-img>
    </ion-avatar>
    <ion-button expand="block" class="upload-btn" color="primary">Cambiar Foto</ion-button>
  </div>

  <!-- Formulario para editar los datos del usuario -->
  <ion-list>
    <!-- Campo Nombre -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.username"></ion-input>
    </ion-item>

    <!-- Campo RUT -->
    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input type="text" disabled [(ngModel)]="usuario.rut"></ion-input>
    </ion-item>

    <!-- Campo Carrera -->
    <ion-item>
      <ion-label position="floating">Carrera</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.carrera"></ion-input>
    </ion-item>

    <!-- Campo Email -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.email"></ion-input>
    </ion-item>

    <!-- Campo Tipo de Jornada -->
    <ion-item>
      <ion-select label="tipo de jornada: " interface="action-sheet"  [(ngModel)]="usuario.jornada">
        <ion-select-option value="Diurno">Diurno</ion-select-option>
        <ion-select-option value="Vespertino">Vespertino</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo Sección -->
    <ion-item>
      <ion-select label="seccion: " interface="action-sheet" placeholder="Selecciona tu sección" [(ngModel)]="usuario.seccion">
        <ion-select-option value="010d">O10d</ion-select-option>
        <ion-select-option value="010v">O10v</ion-select-option>
        <ion-select-option value="011d">O11d</ion-select-option>
        <ion-select-option value="011v">O11v</ion-select-option>
        <ion-select-option value="012d">O12d</ion-select-option> 
        <ion-select-option value="012v">O12v</ion-select-option>
      </ion-select>
    </ion-item>
  
  <ion-item>
    <ion-label position="floating" >Cuenta Activa</ion-label>
    <ion-toggle [(ngModel)]="usuario.isactive" [disabled]="true"></ion-toggle>
  </ion-item>
</ion-list>

  <!-- Botón para Guardar Cambios -->
  <ion-button expand="block" color="success" (click)="actualizarUsuario()">Guardar Cambios</ion-button>

  
</ion-content>
