.imagen-logo {
    display: flex;
    justify-content: center; /* Centra horizontalmente el logo */
    align-items: center; /* Centra verticalmente el logo */
    height: 150px; /* Ajusta la altura del toolbar para que el logo se vea grande */
    background: transparent; /* Si deseas un fondo transparente */
}

ion-card {
    margin: 0 5%; 
    margin-top: 2%; 
    margin-right: 5%;
}

ion-img{
    margin: 0 auto;
    width: 200px; 
    height: auto; 
    
}

ion-footer{
    height: 9%;
}




