/* Logotipo centrado */
.imagen-logo ion-img {
    display: block; 
    margin: 0 auto; 
    margin-top: 40px;
    width: 240px; /* Tamaño del logo */
    height: auto; 
  }
  
  /* Tarjeta del login */
  .login-card {
    margin: 0 5%;
  }
  
  /* Botones */
  .btn-group ion-button {
    margin: 10px 0;
  }
  
  /* Enlace para contraseña  */
  .forgot-password {
    text-align: right;
    font-size: 12px; 
  }
  
  /* Footer social icons */
  .social-icons ion-button {
    font-size: 18px;
  }

  ion-toolbar{
    margin: 5px 0 0;
    
  }
  
  


