<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/tabs/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Incripción de Talleres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ionic-text-center">
    <ion-card-header>
      <ion-card-title><h2>{{ act.nombre }}</h2></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Fecha del evento: {{ act.fecha }}</h3>
      <h3>RUT: {{ rut }}</h3>
      <h3>Email: {{ email }}</h3>
    </ion-card-content>
    <ion-card-content>
      <div class="ionic-text-center">
        <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>

