<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de inscripción</ion-title>
    <ion-icon name="qr-code-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-title">
        <h2>{{ act.nombre }}</h2>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item-divider color="light">
        <ion-label>
          <h3>Detalles del Taller</h3>
        </ion-label>
      </ion-item-divider>
      <p><strong>Fecha del evento:</strong> {{ act.fecha }}</p>
      <p><strong>RUT: </strong> {{ rut }}</p>
      <p><strong>Email: </strong> {{ email }}</p>
    </ion-card-content>

    <ion-card-content>
      <ion-item-divider color="light">
        <ion-label>
          <h3>Código QR Generado</h3>
        </ion-label>
      </ion-item-divider>
      <div class="qr-container">
        <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

