<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/tabs/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Incripción de Actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ act.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha del evento: {{ act.fecha }}</p>
      <p>RUT: {{ rut }}</p>
      <p>Email: {{ email }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<!--ngx-qrcode [qrc-value]="qrData"></ngx-qrcode-->
