.register-card {
    margin: 5px;
    padding: 10px;
  }
  
  ion-card-header h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-align: center;
  }
  
  ion-text p {
    font-size: 0.9rem;
    margin-left: 10px;
  }