
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/">
      </ion-back-button>
    </ion-buttons>
      <ion-title>Registro de Usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div>
      <ion-img class="sinfondo logo" src="assets/Event It.jpeg"></ion-img>
    </div>
    <ion-card>
      <ion-card-content>
      <ion-item>
        <ion-input label="Nombre: " label-placement="floating"  type="text" placeholder=" Ingrese su Nombre" name="nombre" [(ngModel)]="usuario.username"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Email: " label-placement="floating"  type="text" placeholder=" Ingrese su Email" name="email" [(ngModel)]="usuario.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Rut: " label-placement="floating"  type="text" placeholder=" Ingrese su Rut" name="rut" [(ngModel)]="usuario.rut"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Carrera: " interface="action-sheet" placeholder="Selecciona tu carrera" [(ngModel)]="usuario.carrera">
          <ion-select-option value=" Ing. informatica">Ing. en Informática</ion-select-option>
          <ion-select-option value=" Tec. Analista Programador">Tecnico Analista Programador</ion-select-option>
          <ion-select-option value="Ing. redes">Ing. en Redes</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="jornada: " interface="action-sheet" placeholder="Selecciona tu jornada" [(ngModel)]="usuario.jornada">
          <ion-select-option value="Diurno">Diurno</ion-select-option>
          <ion-select-option value="Vespertino">Vespertino</ion-select-option> 
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select label="seccion: " interface="action-sheet" placeholder="Selecciona tu jornada" [(ngModel)]="usuario.seccion">
          <ion-select-option value="010d">O10d</ion-select-option>
          <ion-select-option value="010v">O10v</ion-select-option>
          <ion-select-option value="011d">O11d</ion-select-option>
          <ion-select-option value="011v">O11v</ion-select-option>
          <ion-select-option value="012d">O12d</ion-select-option> 
          <ion-select-option value="012v">O12v</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-input label="Contraseña: " label-placement="floating"  type="password" placeholder=" Crea una contraseña" name="contraseña">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Confirme Contraseña: " label-placement="floating"  type="password" placeholder=" Confirme contraseña" name="conf-correo" [(ngModel)]="usuario.password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
  
      <ion-button (click)="crearUsuario()" expand="block" color="tertiary" id="open-loading">Registrar</ion-button>

      <ion-loading trigger="open-loading" message="Procesando Registro..." duration="3000"></ion-loading>

    </ion-card-content>
    </ion-card>  
    
  </ion-content>
