<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/tabs/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Actividades</ion-title>
    <ion-icon name="newspaper-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card *ngFor="let a of actividad">
      <ion-card-content>
        
      <ion-label color="primary">

        <h2><strong>{{a.nombretaller}}</strong></h2>
        <h4>{{a.descripcion}}</h4><br>
        <p><strong>Fecha:</strong> {{a.fecha}}</p>
        <p><strong>Hora:</strong> {{a.hora}}</p>
        <p><strong>Ubicación:</strong> {{a.ubicacion}}</p>
        <p><strong>Cupos:</strong> {{a.cupos}}</p><br>

        <ion-button size="default"  
        (click)="confirmarRegistro(a)"
        [disabled]="a.cupos <= 0 || habilitarVerQr(a)" 
        *ngIf="!habilitarVerQr(a); else verQrTemplate">
          <ion-icon name="clipboard-outline" slot="end"></ion-icon>
          Quiero Asistir
        </ion-button>
        
      <ng-template #verQrTemplate> 
        <ion-button  color="success" 
        (click)="verDetalle(a)">
        <ion-icon name="qr-code-outline" slot="end"></ion-icon>
        Ver QR
        </ion-button>
      </ng-template>
      </ion-label>

     </ion-card-content>

    </ion-card>

  

</ion-content>
