<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/tabs/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Actividades</ion-title>
    <ion-icon name="newspaper-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let a of actividad" button detail="true" (click)="confirmarRegistro(a)">
      <ion-label>
        <h2><strong>{{a.nombretaller}}</strong></h2>
        <h4>{{a.descripcion}}</h4><br>
        <p><strong>Fecha:</strong> {{a.fecha}}</p>
        <p><strong>Hora:</strong> {{a.hora}}</p>
        <p><strong>Ubicación:</strong> {{a.ubicacion}}</p>
        <p><strong>Cupos:</strong> {{a.cupos}}</p>
        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
