<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/tabs/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Talleres Disponibles</ion-title>
    <ion-icon name="newspaper-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card *ngFor="let t of talleres">
      <ion-card-header>
        <ion-card-title>{{ t.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
      <ion-label color="primary">

        <h2>{{t.descripcion}}</h2><br>
        <p><strong>Fecha:</strong> {{t.fecha}}</p>
        <p><strong>Hora:</strong> {{t.hora}}</p>
        <p><strong>Ubicación:</strong> {{t.ubicacion}}</p>
        <p><strong>Cupos:</strong> {{t.cupos}}</p>
        <p><strong>Tipo de Taller:</strong> {{t.tipo}}</p><br>
        

        <ion-button size="default"  
        (click)="confirmarRegistro(t)"
        [disabled]="t.cupos <= 0 || habilitarVerQr(t)" 
        *ngIf="!habilitarVerQr(t); else verQrTemplate">
          <ion-icon name="clipboard-outline" slot="end"></ion-icon>
          Quiero Asistir
        </ion-button>
        
      <ng-template #verQrTemplate> 
        <ion-button  color="success" 
        (click)="verDetalle(t)">
        <ion-icon name="qr-code-outline" slot="end"></ion-icon>
        Ver QR
        </ion-button>
      </ng-template>
      </ion-label>

     </ion-card-content>

    </ion-card>

</ion-content>
