<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/tabs/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Eventos Asistidos</ion-title>
    <ion-icon name="calendar-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let taller of talleresAsistidos">
    <ion-card-header>
      <ion-card-title>{{ taller.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Fecha:</strong> {{ taller.fecha }}</p>
      <p><strong>Comentario:</strong></p>

      <!-- Textarea para escribir comentario -->
      <ion-textarea
        [(ngModel)]="taller.comentario"
        placeholder="Escribe tu comentario del taller aquí..."
        (keydown)="onEnter($event, taller)">
      </ion-textarea>
    </ion-card-content>
  </ion-card>
</ion-content>

