<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/tabs/home" text="">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Eventos Asistidos</ion-title>
    <ion-icon name="calendar-outline" color="primary" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Listado de Talleres -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let taller of talleresAsistidos">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title  style="text-align: center;">{{ taller.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Información del taller -->
            <p><ion-icon name="calendar-outline"></ion-icon> <strong> Fecha: </strong>{{ taller.fecha }}</p>
            <p><ion-icon name="chatbubble-ellipses-outline"></ion-icon> <strong> Comentario: </strong></p>

            <!-- Área de comentario -->
            <ion-textarea
              [(ngModel)]="taller.comentario"
              placeholder="Escribe tu comentario del taller aquí..."
              (keydown)="onEnter($event, taller)"
              auto-grow="true"
              style="border: 1px solid #ccc; border-radius: 8px; padding: 10px;"
            ></ion-textarea>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

