/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
 // @import "@ionic/angular/css/palettes/dark.system.css";


 :root {
     //Colores personalizados 1
    --ion-color-primary: #004643;
    --ion-color-secondary: #ABD1C6;
    --ion-color-tertiary: #F9BC60;
    --ion-color-danger: #E16162;
    --ion-color-light: #edf7fa;
    --ion-color-dark: #004643;

   // texto
     --ion-text-color: var(--ion-color-primary);
 }

 .logo{
  width: 130px; /* Define el ancho deseado */
  height: 100px; /* Define la altura deseada */
}  

.imagen-logo{
  --background: var(--ion-color-light);
}

*{
  font-family: Verdana, sans-serif;
}

ion-title{
  text-align: center;
  font-size: 1.2rem;
}

ion-toolbar{
  --background: var(--ion-color-light);
  --box-shadow: none; /* Elimina la sombra por defecto */
}
  
  ion-tab-bar {
   --background: var(--ion-color-light);
  --color: var(--ion-color-dark);
  --color-selected: var(--ion-color-primary);

  }
  
  ion-tab-button {
    --color: var(--ion-color-primary);
    --color-selected: var(--ion-color-tertiary);
  }

  ion-card {
    border-radius: 12px;
    padding: 10px;
   // margin: 20px 0;
    border: 1px #004643; /* Borde del contenedor */
    --box-shadow: none; /* Elimina la sombra por defecto */
    margin: 1px 3%;
  }

  ion-card-title {
    --color: var(--ion-color-primary);
    font-size: 1.2rem;
    font-weight: bold;
  }

  ion-button {
    --color: var(--ion-color-dark);
    --background-hover: var(--ion-color-secondary);
    border-radius: 12px;  /* Redondear los bordes */
    display: block;     /* Asegura que el bot칩n ocupe todo el ancho */
   margin: 10px 0;
  }

  ion-button[fill="outline"] {
    --border-color: var(--ion-color-tertiary);
    --color: var(--ion-color-dark);
  }

  

  ion-label {
    font-size: 14px;  /* Ajusta el tama침o de las etiquetas de los formularios */
    color: var(--ion-text-color);
  }

  ion-item{
    font-size: 14px;  /* Ajusta el tama침o de las etiquetas de los formularios */
  }


  ion-textarea {
    font-size: 1rem;
  }

/* Ajustar el estilo del ion-input */
  ion-input {
  font-size: 15px; /* Ajusta el tama침o de la fuente */
  --padding-start: 0px; /* Elimina el padding adicional */
  --padding-end: 0px;
}


ion-content {
  overflow-y:hidden;  /* Deshabilita el scroll vertical */
  --background: var(--ion-color-light);
}

ion-footer{
  margin: 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Borde del contenedor */
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que los bordes redondeados funcionen correctamente */

}



  

