<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/tabs/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Seminarios</ion-title>
    <ion-icon name="chatbubbles-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let a of seminario" button detail="true" (click)="inscribir(a)">

      <ion-label>
        <h2>Nombre seminario: {{a.nombreseminario}}</h2>
        <p>Fecha seminario: {{a.fecha}}</p>
        <p>Hora seminario: {{a.hora}}</p>
        <p>Ubicación: {{a.ubicacion}}</p>
        <p>Carrera: {{a.carrera}}</p>
        <p>Sección: {{a.seccion}}</p>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>
