<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button 
    defaultHref="/tabs/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Eventos</ion-title>
    <ion-icon name="calendar-outline" color="light" slot="end" size="large" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let a of evento " button detail="true" (click)="inscribir(a)">
      <ion-label>
        <h2>{{a.nombreevento}}</h2><br>
        <h4>{{a.descripcion}}</h4><br>
        <p>Fecha Evento: {{a.fecha}}</p>
        <p>Hora Evento: {{a.hora}}</p>
        <p>Ubicación: {{a.ubicacion}}</p>
        <p>Cupos: {{a.cupos}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
